* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  background-color: #d4c1c1;
  font-family: "poppins", sans-serif;
  margin-top: 10rem;
  max-height: 100vh;
}

.container {
  background-color: rgba(9, 217, 168, 0.76);
  max-width: 35rem;
  max-height: 50rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

.advice {
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.btn {
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: rgb(6, 126, 122);
  color: #e8d7d7;
  cursor: pointer;
  margin-bottom: 1rem;
}

.para {
  font-weight: 400;
  font-size: 1.2rem;
}

.para .number {
  font-weight: 700;
}
